<div class="app-wrapper h-screen w-screen relative overflow-hidden flex flex-col justify-between items-center gap-3 ">
  <div role="tablist" class="tabs tabs-boxed mt-3 h-10">
    <a role="tab" routerLink="change-detection" routerLinkActive="tab-active" class="tab">Change Detection</a>
    <a role="tab" routerLink="hierarchical-dependency-injection" routerLinkActive="tab-active" class="tab">Hierarchical Dependency Injection</a>
  </div>
  <div class="h-full w-full p-2">
    <router-outlet></router-outlet>
  </div>
</div>