<div
  class="child-wrapper w-full border bg-rose-800/20 h-full flex flex-col gap-2 p-2"
>
  <div class="flex gap-2 items-center">
    <h1 class="text-xl">Child Component</h1>
    <span class="flex p-1 bg-amber-900/50 rounded-lg"
      >CD Strategy: Default</span
    >
    <span class="flex p-1 bg-green-900/50 rounded-lg"
      >Checks Count: <span id="checkCountC" class="ms-2"></span
    ></span>
  </div>
  <div class="stripe parent-data">
    <span class="bg-cyan-700/80 px-2 py-1 rounded-md">Parent Data : {{parentUser | json}}</span>
  </div>
  <div class="stripe flex gap-2">
    <button
      class="px-2 py-1 bg-slate-800 rounded-md"
      (click)="counter = counter + 1"
    >
      Click Me : {{ counter }}
    </button>
    <div class="bg-zinc-900/80 py-1 px-2 rounded-md">
      <span class="p-1 bg-green-700/50 rounded-md">USER | [(ngModel)]</span>
      {{ "{" }} name :
      <input
        type="text"
        class="bg-slate-800 rounded-md outline-none p-1"
        [(ngModel)]="user.name"
      />
      , age:
      <input
        type="number"
        class="bg-slate-800 rounded-md outline-none p-1"
        [(ngModel)]="user.age"
      />
      {{ "}" }}
    </div>
  </div>
  <div class="stripe w-fit">
    <div class="bg-zinc-900/80 py-1 px-2 rounded-md">
      <span class="p-1">USER = </span>
      {{ "{" }} name :
      <input
        type="text"
        [defaultValue]="user.name"
        class="bg-slate-800 rounded-md outline-none p-1"
        #name
      />
      , age:
      <input
        type="number"
        [defaultValue]="user.age"
        class="bg-slate-800 rounded-md outline-none p-1"
        #age
      />
      {{ "}" }}
      <button
        class="px-2 py-1 bg-green-800/60 rounded-md ms-2"
        (click)="user = { name: name.value, age: +age.value }"
      >
        Update
      </button>
    </div>
  </div>
</div>
<ng-container *ngIf="checkIncrement()"></ng-container>
