<div
  class="child-wrapper w-full border bg-primary h-full flex flex-col gap-2 p-2 rounded-md"
>
  <div class="flex gap-2 items-center">
    <h1 class="text-xl">Child Component</h1>
    <span class="flex p-1 bg-neutral rounded-lg">CD Strategy: OnPush</span>
    <span class="flex p-1 bg-neutral rounded-lg"
      >Renders: <span id="checkCountCP" class="ms-2"></span
    ></span>
  </div>
  <div class="stripe">
    <button class="btn btn-sm btn-info"
    (click)="cds.counter = cds.counter + 1">CD Service Count (click): {{cds.counter}}</button>
  </div>
  <div class="stripe parent-data">
    <span class="bg-accent px-2 py-1 rounded-md">Parent Data : {{parentUser | json}}</span>
  </div>
  <div class="stripe flex gap-2 items-center">
    <button
      class="btn btn-sm btn-info"
      (click)="counter = counter + 1"
    >
      Click Me : {{ counter }}
    </button>
    <div class="bg-neutral py-1 px-2 rounded-full leading-none flex items-center gap-2">
      <span class=" bg-accent text-accent-content p-2 rounded-full leading-none">USER | [(ngModel)]</span>
      {{ "{" }} name :
      <input
        type="text"
        class="input input-bordered input-sm"
        [(ngModel)]="user.name"
      />
      , age:
      <input
        type="number"
        class="input input-bordered input-sm"
        [(ngModel)]="user.age"
      />
      {{ "}" }}
    </div>
  </div>
  <div class="stripe w-fit">
    <div class="bg-neutral py-1 px-2 rounded-full flex items-center gap-2">
      <span class=" p-2 bg-accent text-accent-content rounded-full leading-none">USER = </span>
      {{ "{" }} name :
      <input
        type="text"
        [defaultValue]="user.name"
        class="input input-bordered input-sm"
        #name
      />
      , age:
      <input
        type="number"
        [defaultValue]="user.age"
        class="input input-bordered input-sm"
        #age
      />
      {{ "}" }}
      <button
        class="btn btn-sm btn-info rounded-full"
        (click)="user = { name: name.value, age: +age.value }"
      >
        Update
      </button>
    </div>
  </div>
  <app-grand-child [childUser]="user" ></app-grand-child>
  <app-grand-child-push [childUser]="user" ></app-grand-child-push>
</div>
<ng-container *ngIf="checkIncrement()"></ng-container>
